Origin: XBian
Package: xbian-package-firmware
Version: 1.4.12
Section: firmware
Essential: Yes
Priority: optional
Architecture: armhf
Replaces: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev, xbian-update (<=1.0-0.4)
Conflicts: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev
Maintainer: Koenkk <development@xbian.org>
Description: Firmware for XBian. (Dec 23 2013 18:26:32 Copyright (c) 2012 Broadcom version e6f70fa5f721f7583c8cf863f8bab6c8ac8285bd (clean) (release))
