Origin: XBian
Package: xbian-package-firmware
Version: 1.4-8a
Section: firmware
Essential: Yes
Priority: optional
Architecture: armhf
Replaces: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev, xbian-update (<=1.0-0.4)
Conflicts: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev
Maintainer: Koenkk <development@xbian.org>
Description: Firmware for XBian. (Oct  1 2013 00:37:09 Copyright (c) 2012 Broadcom version a421d4b2cee544ec22bd4eee75080248f18fc20b (tainted) (release))
