Origin: XBian
Package: xbian-package-firmware
Version: 1.4-5
Section: firmware
Essential: Yes
Priority: optional
Architecture: armhf
Replaces: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev, xbian-update (<=1.0-0.4)
Conflicts: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev
Maintainer: Koenkk <development@xbian.org>
Description: Firmware for XBian. (Sep  1 2013 23:27:46, 4f9d19896166f46a3255801bc1834561bf092732)
