Origin: XBian
Package: xbian-package-firmware
Version: 1.4
Section: firmware
Essential: Yes
Priority: optional
Codename: wheezy
Architecture: armhf
Replacing: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev, xbian-update (<=1.0-0.4)
Conflicts: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev, xbian-update (<=1.0-0.4)
Recommends: xbian-package-kernel3.8.11 (>=1.0)
Installed-Size: 7790
Maintainer: Koenkk <development@xbian.org>
Description: Firmware for XBian.
